{% extends 'base.html' %} {% load static %} {% block title %}{{team.name}} history{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'schedule.css' %}" />
{% endblock %} {% block content %}
<div class="row mb-4">
    <div class="col-md-3 img-container">
        <img src="{% static team.name %}.png" class="responsive-img" />
    </div>
    <div class="col-md-6 text-center">
        <h1 class="display-5">#{{team.ranking}} {{team.name}} {{team.mascot}}</h1>
        <h5 class="mb-2">{{team.rating}} overall</h5>
        <div class="progress mb-3">
            <div
                class="progress-bar"
                role="progressbar"
                style="width: {{team.rating}}%; background-color: {{team.colorPrimary}};"
                aria-valuenow="{{team.rating}}"
                aria-valuemin="0"
                aria-valuemax="100"
            ></div>
        </div>

        <div class="row mb-3">
            <!-- Offense Progress Bar -->
            <div class="col-6 pr-2">
                <h6 class="mb-2 lead">Offense: {{team.offense}}</h6>
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: {{team.offense}}%; background-color: {{team.colorSecondary}};"
                        aria-valuenow="{{team.offense}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>
            </div>

            <!-- Defense Progress Bar -->
            <div class="col-6 pl-2">
                <h6 class="mb-2 lead">Defense: {{team.defense}}</h6>
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: {{team.defense}}%; background-color: {{team.colorSecondary}};"
                        aria-valuenow="{{team.defense}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>
            </div>
        </div>

        <h2 class="lead">{{team.conference.confName}}</h2>
        <h2 class="lead mt-3">{{team.totalWins}} - {{team.totalLosses}} ({{team.confWins}} - {{team.confLosses}})</h2>
    </div>
    <div class="col-md-3 text-center">
        <div class="form-group">
            <label for="teamFilter">change team</label>
            <select class="form-control" id="teamFilter">
                {% for team in teams %}
                <option value="{{team.name}}">{{team.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Prestige</th>
            <th>Rating</th>
            <th>Conf</th>
            <th>W</th>
            <th>L</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        {% for year in years %}
        <tr>
            <td><a href="{% url 'schedule' team_name=team.name %}?year={{ year.year }}">{{ year.year }}</a></td>
            <td>{{ year.prestige }}</td>
            <td>{{ year.rating }}</td>
            <td>{{ year.conference }}</td>
            <td>{{ year.wins }}</td>
            <td>{{ year.losses }}</td>
            <td>{{ year.rank }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block additional_scripts %}
<script>
    $(document).ready(function () {
        const team = window.location.href.split('/')[4];
        $('#teamFilter')
            .val(team)
            .change(function () {
                const selectedTeam = $(this).val();
                window.location.href = `/teams/${selectedTeam}/history`;
            });
    });
</script>
{% endblock %}
