.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxlogo {
    height: 40px;
}

.gametext {
    font-size: 20px;
    line-height: 1;
    padding-left: 10px;
}

.game {
    margin-top: 30px;
    border: 2px solid black;
    padding: 10px; 
}

p {
    margin: 0px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
