#ball {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#football-field {
    position: relative;
    max-width: 1200px;
    height: 540px;
    background-color: green;
    margin: 0 auto 20px; /* Add bottom margin */
}
#playing-field {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 100%;
}
.line {
    position: absolute;
    height: 100%;
    width: 6px;
}
.football-icon {
    height: 50px;
}

#yard-arrow {
    position: absolute;
    background-color: red;
    height: 5px;
    transform-origin: 0% 50%;
    transform: rotate(180deg);
}

.yard-line {
    width: 3px;
    background-color: white;
}

.score-table td {
    padding: 5px;
    text-align: center;
}
.center-text {
    text-align: center;
}
.bold-text {
    font-weight: bold;
}
.end-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 10%;
    height: 100%;
}

.end-zone span {
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap;
}
#line-of-scrimmage {
    background-color: blue;
}
#first-down-line {
    background-color: yellow;
}
#left-field-line {
    background-color: white;
    left: 10%;
}
#right-field-line {
    background-color: white;
    right: 10%;
}
#team-a-name {
    transform: rotate(-90deg);
}
#team-b-name {
    transform: rotate(90deg);
}
#end-zone-a {
    left: 0;
}
#end-zone-b {
    right: 0;
}

#fetch-play-btn {
    display: block;
    margin: 0 auto 20px; /* Center the button and add bottom margin */
}

#drive-summary {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

#drive-list {
    max-height: 300px;
    overflow-y: auto;
}

.drive-item {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #000; /* Ensure black text for non-scoring drives */
}

.drive-item img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.scoring-drive {
    font-weight: bold;
}
