{% extends 'base.html' %} {% load static %} {% block title %} recruiting {% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'recruiting.css' %}" />
{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3">
            <div class="form-group">
                <select id="filterState" class="form-control">
                    <option value="">All states</option>
                    {% for state in states %}
                    <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <select id="filterStars" class="form-control">
                    <option value="">All stars</option>
                    {% for star in stars %}
                    <option value="{{ star }}">{{ star }} Star{% if star > 1 %}s{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <select id="filterPosition" class="form-control">
                    <option value="">All positions</option>
                    {% for position in positions %}
                    <option value="{{ position }}">{{ position }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkboxOffered" />
                    <label class="form-check-label" for="checkboxOffered">Offered?</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for recruit in recruits %}
        <div
            class="col-3 px-1 mb-2 recruit"
            data-state="{{ recruit.state }}"
            data-stars="{{ recruit.stars }}"
            data-position="{{ recruit.pos }}"
            data-offered="{% if recruit.has_offer_from_info_team %}true{% else %}false{% endif %}"
        >
            <div class="card">
                <div class="card-header py-2 d-flex align-items-center justify-content-center">
                    <h5 class="card-title m-0">{{ recruit.first }} {{ recruit.last }}</h5>
                </div>
                <div class="card-body p-2">
                    <div class="row mb-1">
                        <div class="col-6">
                            <p class="card-text">Position: {{ recruit.pos }}</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="card-text">State: {{ recruit.state }}</p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <p class="card-text">
                                {% for _ in "12345"|make_list %} {% if forloop.counter <= recruit.stars %}
                                <img src="{% static 'star.png' %}" alt="Star" class="star-icon" />
                                {% endif %} {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-4 px-2 text-center">
                            <p class="card-text">Natl: {{ recruit.overall_rank }}</p>
                        </div>
                        <div class="col-4 px-2 text-center">
                            <p class="card-text">St: {{ recruit.state_rank }}</p>
                        </div>
                        <div class="col-4 px-2 text-center">
                            <p class="card-text">Pos: {{ recruit.position_rank }}</p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <h6>Top offers:</h6>
                            {% for offer in recruit.top_three_offers %}
                            <div class="row align-items-center mb-2">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <img src="{% static offer.team.name|add:".png" %}" alt="{{ offer.team.name }}" class="team-logo img-fluid" />
                                </div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div
                                            class="progress-bar"
                                            role="progressbar"
                                            style="width: {{ offer.interest_level }}%;"
                                            aria-valuenow="{{ offer.interest_level }}"
                                            aria-valuemin="0"
                                            aria-valuemax="1000"
                                        >
                                            {{ offer.interest_level }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-12">
                            {% if recruit.has_offer_from_info_team %}
                            <button class="add-points-button btn btn-primary" data-recruit-id="{{ recruit.id }}">Add Points</button>
                            {% elif info.team.offers < 1 %}
                            <button class="offer-button btn btn-danger" data-recruit-id="{{ recruit.id }}" disabled>Max Offers Exceeded</button>
                            {% elif recruit.min_prestige > info.team.prestige %}
                            <button class="offer-button btn btn-danger" data-recruit-id="{{ recruit.id }}" disabled>Min Prestige: {{ recruit.min_prestige }}</button>
                            {% else %}
                            <button class="offer-button btn btn-primary" data-recruit-id="{{ recruit.id }}">Offer</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %} {% block additional_scripts %}
<script>
    $(document).ready(function () {
        function filterRecruits() {
            var selectedState = $('#filterState').val();
            var selectedStars = $('#filterStars').val();
            var selectedPosition = $('#filterPosition').val();
            var offeredFilter = $('#checkboxOffered').prop('checked'); // Check if the checkbox is checked

            $('.recruit').each(function () {
                var $card = $(this);

                var state = $card.data('state');
                var stars = $card.data('stars');
                var position = $card.data('position');
                var offered = $card.data('offered'); // Assuming you have a data attribute for "offered"

                var showRecruit =
                    (selectedState === '' || state === selectedState) &&
                    (selectedStars === '' || stars === parseInt(selectedStars)) &&
                    (selectedPosition === '' || position === selectedPosition) &&
                    (!offeredFilter || offered);

                if (showRecruit) {
                    $card.show();
                } else {
                    $card.hide();
                }
            });
        }
        $('#filterState, #filterStars, #filterPosition, #checkboxOffered').on('change', function () {
            filterRecruits();
        });
        $('.offer-button').click(function () {
            var recruitId = $(this).data('recruit-id');
            $.ajax({
                url: 'offer/' + recruitId,
                method: 'GET',
                dataType: 'json', // Expect JSON response
                success: function (response) {
                    if ('error' in response) {
                        alert('Error: ' + response.error);
                    } else {
                        alert('Offer made successfully!');
                        location.reload();
                    }
                },
                error: function (error) {
                    alert('Error making offer. Please try again.');
                },
            });
        });
        $('.add-points-button').click(function () {
            var recruitId = $(this).data('recruit-id');
            $.ajax({
                url: 'add_points/' + recruitId,
                method: 'GET',
                dataType: 'json', // Expect JSON response
                success: function (response) {
                    alert('Points added successfully!');
                    location.reload();
                },
                error: function (error) {
                    alert('Error adding points. Please try again.');
                },
            });
        });
    });
</script>
{% endblock %}
