{% extends 'base.html' %} {% load static %} {% block title %} Dashboard{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />
{% endblock %} {% block content %}
<div class="mb-3 text-center">
    <h1 class="display-3">#{{info.team.ranking}} {{info.team.name}} {{info.team.mascot}}</h1>
    <h2 class="lead">{{info.team.conference.confName}}</h2>
    <h2 class="lead">{{info.team.rating}} overall</h2>
    <h2 class="lead">{{info.team.totalWins}} - {{info.team.totalLosses}} ({{info.team.confWins}} - {{info.team.confLosses}})</h2>
</div>

<div class="row">
    <div class="col-md-4">
        {% for week in schedule %} {% if week.weekPlayed == info.currentWeek|add:"-1" %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Last week</h5>
                <h6 class="card-subtitle mb-2">
                    <img src="{% static week.opponent.name %}.png" class="teamlogo" />
                    <a href="teams/{{week.opponent.name}}/schedule">#{{week.opponent.ranking}} {{week.opponent.name}}</a>
                    {{week.result}} ({{week.score}})
                </h6>
                <a href="/games/{{week.id}}" class="card-link">Summary</a>
            </div>
        </div>
        {% elif week.weekPlayed == info.currentWeek %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">This week</h5>
                <h6 class="card-subtitle mb-2">
                    <img src="{% static week.opponent.name %}.png" class="teamlogo" />
                    <a href="teams/{{week.opponent.name}}/schedule">#{{week.opponent.ranking}} {{week.opponent.name}}</a>
                    ({{week.spread}}, {{week.moneyline}})
                </h6>
                <a href="/games/{{week.id}}" class="card-link">Preview</a>
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="col-md-4 text-center">
        <h2>{{info.team.conference.confName}} Standings</h2>
        <table class="table table-striped borderedtable">
            <thead>
                <tr>
                    <th>Conference Rank</th>
                    <th>Team</th>
                    <th>Conference Record</th>
                </tr>
            </thead>
            <tbody>
                {% for team in confTeams %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <img src="{% static team.name %}.png" class="teamlogo" />
                        <a href="/teams/{{team.name}}/schedule">{{team.name}}</a>
                    </td>
                    <td>{{team.confWins}}-{{team.confLosses}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4 text-center">
        <h2>AP Top 10</h2>
        <table class="table table-striped borderedtable">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Record</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %} {% if team.ranking < 11 %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <img src="{% static team.name %}.png" class="teamlogo" />
                        <a href="/teams/{{team.name}}/schedule">{{team.name}}</a>
                    </td>
                    <td>{{team.totalWins}}-{{team.totalLosses}}</td>
                </tr>
                {% endif %} {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
