{% extends 'basenonav.html' %} {% load static %} {% block title %}CFB Sim{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'pickteam.css' %}" />
{% endblock %} {% block content %}
<div class="container my-5">
    <h1 class="mb-3">Welcome to CFB Sim</h1>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="new-game-tab" data-toggle="tab" href="#new-game" role="tab" aria-controls="new-game" aria-selected="true">New Game</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="load-game-tab" data-toggle="tab" href="#load-game" role="tab" aria-controls="load-game" aria-selected="false">Load Game</a>
        </li>
    </ul>
    <div class="tab-content mt-3">
        <div class="tab-pane show active" id="new-game" role="tabpanel" aria-labelledby="new-game-tab">
            <form action="{% url 'preview' %}" method="get">
                <div class="form-group">
                    <h5 for="year">Start year:</h5>
                    <div style="display: inline-block">
                        <select class="form-control custom-dropdown" name="year" id="year">
                            <option value="2024">2024</option>
                            <option value="2023" selected>2023</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" id="beginButton">Begin</button>
            </form>
        </div>
        <div class="tab-pane" id="load-game" role="tabpanel" aria-labelledby="load-game-tab">
            {% if info.team %}
            <h5>Current save</h5>

            {% if info.stage == 'season' %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Week</th>
                        <th>Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{info.currentYear}}</td>
                        <td>{{info.currentWeek}}</td>
                        <td>{{info.team.name}}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">Load Game</a>
            {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Stage</th>
                        <th>Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{info.currentYear}}</td>
                        <td>Offseason ({{info.stage}})</td>
                        <td>{{info.team.name}}</td>
                    </tr>
                </tbody>
            </table>
            {% if info.stage == 'season summary' or info.stage == 'end of season' %}
            <a href="{% url 'season summary' %}" class="btn btn-primary mt-3">Load Game</a>
            {% elif info.stage == 'roster progression'%}
            <a href="{% url 'roster progression' %}" class="btn btn-primary mt-3">Load Game</a>
            {% elif info.stage == 'schedule non conference'%}
            <a href="{% url 'noncon' %}" class="btn btn-primary mt-3">Load Game</a>
            {% endif %} {% endif %} {% else %}
            <h5>No saves detected</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
