{% extends 'base.html' %} {% load static %} {% block title %} Roster progression {% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'game.css' %}" />
{% endblock %} {% block content %}
<div class="container mt-5">
    <h2>Seniors Leaving</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for player in leaving_seniors %}
            <tr>
                <td>{{ player.first }} {{ player.last }}</td>
                <td>{{ player.pos }}</td>
                <td>{{ player.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mt-5">Players Progressed</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Position</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for player in progressed_players %}
            <tr>
                <td>
                    <a href="{% url 'player' player.team.name player.id %}">{{ player.first }} {{ player.last }}</a>
                </td>
                <td>{{ player.year }}</td>
                <td>{{ player.pos }}</td>
                <td>
                    {{ player.rating }}
                    <span style="color: green">(+{{ player.rating_increase}})</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
