{% extends 'base.html' %} {% load static %} {% load mathfilters %} {% block title %}Sim{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'sim.css' %}" />
{% endblock %} {% block content %} {% for game in teamGames %}
<div class="game row">
    <div class="col-md-3 center flex-column">
        <p class="gametext">Week {{game.weekPlayed}}</p>
        <p class="gametext">{{game.label}}</p>
    </div>
    <div class="col-md-6 center flex-column">
        <div class="row center mb-3">
            <img class="logo-medium" src="{% static game.teamA.name %}.png" />
            <a class="gametext" href="/teams/{{game.teamA.name}}/schedule">#{{game.teamA.ranking}} {{game.teamA.name}} {{game.teamA.mascot}}</a>
            <span class="gametext">{{game.scoreA}}</span>
        </div>
        <div class="row center">
            <img class="logo-medium" src="{% static game.teamB.name %}.png" />
            <a class="gametext" href="/teams/{{game.teamB.name}}/schedule">#{{game.teamB.ranking}} {{game.teamB.name}} {{game.teamB.mascot}}</a>
            <span class="gametext">{{game.scoreB}}</span>
        </div>
    </div>
    <div class="col-md-3 center flex-column">
        <a href="/games/{{game.id}}">Summary</a>
    </div>
</div>
{% endfor %} {% endblock %}
