{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}{{game.team}} vs {{game.opponent}}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'game.css' %}">
{% endblock %}

{% block content %}
    <div id="gamesummaryheader" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/teams/{{team.name}}/schedule.html" class="teamname">#{{team.ranking}} {{team.name}}</a>
                        <img class="teamlogo" src="{% static team.name %}.png">
                        {% if game.result != 'tbd' %}
                            <span class="score">{{scores.team}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                <div class="col-12 text-center">
                    <h5>{{game.spread}}, {{game.moneyline}}</h5>
                </div>
                </div>
            </div>        
            <div class="col-3">
            <div class="text-center">
                <h2>Week {{game.weekPlayed }}</h2>
                {% if game.weekPlayed < 13 %}
                    {% if game.label == team.conference %}
                        <p>{{game.label}} conference play</p>
                    {% else %}
                        <p>Non conference ({{game.label}})</p>
                    {% endif %}
                {% else %}
                    <span>{{game.label}}</span>
                {% endif %}
                {% if game.result != 'tbd' %}
                    {% if not game.overtime %}
                        <p>Final</p>
                    {% else %}
                        <p>Final ({{game.overtime}}OT)</p>
                    {% endif %}
                {% else %}
                    <p>Preview of {{ game.team }} vs {{ game.opponent }}</p>
                {% endif %}
            </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12 text-center">
                        {% if game.result != 'tbd' %}
                            <span class="score">{{scores.opponent}}</span>
                        {% endif %}
                        <img class="teamlogo" src="{% static opponent.name %}.png">
                        <a href="/teams/{{opponent.name}}/schedule.html" class="teamname">#{{opponent.ranking}} {{opponent.name}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>{{opponentGame.spread}}, {{opponentGame.moneyline}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if game.result != 'tbd' %}
        <ul class="nav nav-tabs mb-3 justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#drives">Drives</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#stats">Stats</a>
            </li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="drives">
                <ul class="nav nav-tabs mb-3 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#scoring-drives">Scoring drives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#all-drives">All drives</a>
                    </li>
                </ul>
        
                <div class="tab-content">
                    <div class="tab-pane active" id="scoring-drives">
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-12">
                                    <h1>Scoring drives</h1>
                                    <div id="accordion">
                                        {% for drive in drives %}      
                                            {% if drive.points or drive.result == 'safety' %}                
                                                <div class="card">
                                                    <div class="card-header" id="heading{{ drive.driveID }}">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ drive.driveID }}" aria-expanded="true" aria-controls="collapse{{ drive.driveID }}">
                                                                <img src='{% static drive.offense %}.png' class='drivelogo'>
                                                                {{ drive.result }} ({{ drive.yards }} yards, {{ drive.playCount }} plays) {{drive.teamScoreAfter}} - {{drive.opponentScoreAfter}}
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse{{ drive.driveID }}" class="collapse" aria-labelledby="heading{{ drive.driveID }}" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Offense</th>
                                                                        <th>Defense</th>
                                                                        <th>Field Position</th>
                                                                        <th>Down</th>
                                                                        <th>Yards Left</th>
                                                                        <th>Play Type</th>
                                                                        <th>Yards Gained</th>
                                                                        <th>Result</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for play in plays|dictsort:"driveID" %}
                                                                        {% if play.driveID == drive.driveID %}
                                                                            <tr>
                                                                                <td>{{ play.offense }}</td>
                                                                                <td>{{ play.defense }}</td>
                                                                                {% if play.startingFP < 50 %}
                                                                                    <td>own {{ play.startingFP }}</td>
                                                                                {% elif play.startingFP > 50 %}
                                                                                    <td>opp {{ 100|sub:play.startingFP }}</td>
                                                                                {% else %}
                                                                                    <td>{{ play.startingFP }}</td>
                                                                                {% endif %}
                                                                                <td>{{ play.down }}</td>
                                                                                <td>{{ play.yardsLeft }}</td>
                                                                                <td>{{ play.playType }}</td>
                                                                                <td>{{ play.yardsGained }}</td>
                                                                                <td>{{ play.result }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                
                    <div class="tab-pane" id="all-drives">
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-12">
                                    <h1>All drives</h1>
                                    <div id="accordion">
                                        {% for drive in drives %}                      
                                            <div class="card">
                                                <div class="card-header" id="heading{{ drive.driveID }}">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ drive.driveID }}" aria-expanded="true" aria-controls="collapse{{ drive.driveID }}">
                                                            <img src='{% static drive.offense %}.png' class='drivelogo'>
                                                            {{ drive.result }} ({{ drive.yards }} yards, {{ drive.playCount }} plays) {{drive.teamScoreAfter}} - {{drive.opponentScoreAfter}}
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse{{ drive.driveID }}" class="collapse" aria-labelledby="heading{{ drive.driveID }}" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Offense</th>
                                                                    <th>Defense</th>
                                                                    <th>Field Position</th>
                                                                    <th>Down</th>
                                                                    <th>Yards Left</th>
                                                                    <th>Play Type</th>
                                                                    <th>Yards Gained</th>
                                                                    <th>Result</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for play in plays|dictsort:"driveID" %}
                                                                    {% if play.driveID == drive.driveID %}
                                                                        <tr>
                                                                            <td>{{ play.offense }}</td>
                                                                            <td>{{ play.defense }}</td>
                                                                            {% if play.startingFP < 50 %}
                                                                                <td>own {{ play.startingFP }}</td>
                                                                            {% elif play.startingFP > 50 %}
                                                                                <td>opp {{ 100|sub:play.startingFP }}</td>
                                                                            {% else %}
                                                                                <td>{{ play.startingFP }}</td>
                                                                            {% endif %}
                                                                            <td>{{ play.down }}</td>
                                                                            <td>{{ play.yardsLeft }}</td>
                                                                            <td>{{ play.playType }}</td>
                                                                            <td>{{ play.yardsGained }}</td>
                                                                            <td>{{ play.result }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        
            <div class="tab-pane" id="stats">
                <ul class="nav nav-tabs mb-3 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#team-stats">Team Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#box-score">Box Score</a>
                    </li>
                </ul>
        
                <div class="tab-content">
                    <div class="tab-pane active" id="team-stats">
                        <div class="container mt-5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{team.name}}</th>
                                        <th>{{opponent.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Yards</td>
                                        <td>{{ stats.teamyards }}</td>
                                        <td>{{ stats.oppyards }}</td>
                                    </tr>
                                    <tr>
                                        <td>Turnovers</td>
                                        <td>{{ stats.teamTO }}</td>
                                        <td>{{ stats.oppTO }}</td>
                                    </tr>
                                    <tr>
                                        <td>3rd down conversions</td>
                                        <td>{{ stats.team3Con }}</td>
                                        <td>{{ stats.opp3Con }}</td>
                                    </tr>
                                    <tr>
                                        <td>3rd down attempts</td>
                                        <td>{{ stats.team3Att }}</td>
                                        <td>{{ stats.opp3Att }}</td>
                                    </tr>
                                    <tr>
                                        <td>4th down conversions</td>
                                        <td>{{ stats.team4Con }}</td>
                                        <td>{{ stats.opp4Con }}</td>
                                    </tr>
                                    <tr>
                                        <td>4th down attempts</td>
                                        <td>{{ stats.team4Att }}</td>
                                        <td>{{ stats.opp4Att }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                
                    <div class="tab-pane" id="box-score">
                        <!-- Add your code for box score here -->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}  
{% endblock %}