#header {
    text-align: center;
}

#conflogo {
    height: 80px;
    position: relative;
    top: 14px;
}

#standings {
    width: 70%;
}

.teamlogo {
    height: 40px;
}

.teamlink {
    text-decoration: none;
    color: black;
    padding: 11px;
}