{% extends 'basenonav.html' %} {% load static %} {% block title %}Preview{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'preview.css' %}" />
{% endblock %} {% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Preview for {{ year }}</h1>
        <div>
            <a href="{% url 'pickteam' %}" class="btn btn-primary mr-2">Choose team</a>
            <a href="{% url 'home' %}" class="btn btn-danger">Back</a>
        </div>
    </div>

    <!-- Bootstrap tabs for Teams, Rivalries, and Playoff -->
    <ul class="nav nav-tabs" id="previewTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a id="teams-tab" class="nav-link active" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="true">Teams</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="rivalries-tab" data-toggle="tab" href="#rivalries" role="tab" aria-controls="rivalries" aria-selected="false">Rivalries</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="playoff-tab" data-toggle="tab" href="#playoff" role="tab" aria-controls="playoff" aria-selected="false">Playoff</a>
        </li>
    </ul>

    <div class="tab-content" id="previewTabsContent">
        <!-- Teams Tab -->
        <div class="tab-pane fade show active" id="teams" role="tabpanel" aria-labelledby="teams-tab">
            <!-- Content for Teams goes here -->
            <!-- Bootstrap Accordion for Conferences and Independents -->
            <div class="accordion" id="teamsAccordion">
                <!-- Conferences Section -->
                {% for conference in data.conferences %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapse{{ forloop.counter }}"
                                aria-expanded="true"
                                aria-controls="collapse{{ forloop.counter }}"
                            >
                                <img src="{% static conference.confName %}.png" class="conflogo" />
                                {{ conference.confFullName }} ({{ conference.confName }})
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#teamsAccordion">
                        <div class="card-body">
                            <p><strong>Conference Games:</strong> {{ conference.confGames }}</p>
                            <h4>Teams</h4>
                            <div class="row">
                                {% for team in conference.teams %}
                                <div class="col-md-4">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="mb-1">
                                                <img src="{% static team.name %}.png" class="teamlogo" />
                                                {{ team.name }} {{ team.mascot }}
                                            </h5>
                                            <p class="mb-1">
                                                <strong>Prestige: </strong>
                                                {{ team.prestige }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Independents Section -->
                <div class="card">
                    <div class="card-header" id="headingIndependents">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseIndependents"
                                aria-expanded="true"
                                aria-controls="collapseIndependents"
                            >
                                Independents
                            </button>
                        </h2>
                    </div>
                    <div id="collapseIndependents" class="collapse" aria-labelledby="headingIndependents" data-parent="#teamsAccordion">
                        <div class="card-body">
                            <div class="row">
                                {% for team in data.independents %}
                                <div class="col-md-4">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5>
                                                <img src="{% static team.name %}.png" class="teamlogo" />
                                                {{ team.name }} {{ team.mascot }}
                                            </h5>
                                            <p>
                                                <strong>Prestige:</strong>
                                                {{ team.prestige }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Accordion -->
        </div>
        <!-- End of Teams Tab -->

        <!-- Rivalries Tab -->
        <div class="tab-pane fade" id="rivalries" role="tabpanel" aria-labelledby="rivalries-tab">
            <section class="mb-5 mt-3">
                <p>Rivalry games. These games are gauranteed to be scheduled every season. If a rivalry does not have a specific week, it can take place at any week in the regular season.</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Team 1</th>
                            <th>Team 2</th>
                            <th>Week</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rivalry in data.rivalries %}
                        <tr>
                            <td>
                                <img src="{% static rivalry.0 %}.png" class="teamlogo" />
                                {{ rivalry.0 }}
                            </td>
                            <td>
                                <img src="{% static rivalry.1 %}.png" class="teamlogo" />
                                {{ rivalry.1 }}
                            </td>
                            <td>{{ rivalry.2 }}</td>
                            <td>{{ rivalry.3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>

        <!-- Playoff Tab -->
        <div class="tab-pane fade" id="playoff" role="tabpanel" aria-labelledby="playoff-tab">
            <!-- Content for Playoff goes here -->
            <section class="mt-3 mb-5">
                <h2>Playoff Details</h2>

                <div class="card">
                    <div class="card-body">
                        <p><strong>Total Teams in Playoff:</strong> {{ data.playoff.teams }}</p>
                        <p><strong>Autobids:</strong> {{ data.playoff.autobids }}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
