{% extends 'base.html' %} {% load static %} {% block title %}{{ info.currentYear }} season summary{% endblock %} {% block content %}

<p>{{ natty.winner.name }} won the natty</p>

<h3>realignment summary</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Team</th>
            <th>Old Conference</th>
            <th>New Conference</th>
        </tr>
    </thead>
    <tbody>
        {% for team, confs in realignment.items %}
        <tr>
            <td>
                <img src="{% static team %}.png" class="logo-medium mr-3" />
                <a href="/teams/{{team}}/schedule">{{ team}}</a>
            </td>
            <td>{{ confs.old }}</td>
            <td>{{ confs.new }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No realignment changes</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
