{% extends 'base.html' %} {% load static %} {% load mathfilters %} {% block title %}Sim{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'sim_live.css' %}" />
{% endblock %} {% block content %}
<div id="play-container" data-game-id="{{ game.id }}">
    <!-- Initially empty, will be filled with plays -->
</div>

<div id="football-field">
    <!-- Playing Field -->
    <div id="playing-field">
        <!-- Yard Lines -->
        <div class="yard-line line" style="left: 10%"></div>
        <div class="yard-line line" style="left: 20%"></div>
        <div class="yard-line line" style="left: 30%"></div>
        <div class="yard-line line" style="left: 40%"></div>
        <div class="yard-line line" style="left: 50%"></div>
        <div class="yard-line line" style="left: 60%"></div>
        <div class="yard-line line" style="left: 70%"></div>
        <div class="yard-line line" style="left: 80%"></div>
        <div class="yard-line line" style="left: 90%"></div>

        <!-- Line of Scrimmage -->
        <div class="line" id="line-of-scrimmage"></div>
        <!-- First Down Line -->
        <div class="line" id="first-down-line"></div>
        <!-- Ball -->
        <img id="ball" src="{% static 'football.png' %}" class="football-icon" />

        <div id="yard-arrow"></div>
    </div>

    <!-- White Lines on the Edge of the Playing Field -->
    <div class="line" id="left-field-line"></div>
    <div class="line" id="right-field-line"></div>

    <!-- End Zone Team A -->
    <div class="end-zone" id="end-zone-a">
        <span id="team-a-name"></span>
    </div>
    <!-- End Zone Team B -->
    <div class="end-zone" id="end-zone-b">
        <span id="team-b-name"></span>
    </div>
</div>

<button id="fetch-play-btn" class="btn btn-primary"></button>

<div id="drive-summary">
    <h3>Drive Summary</h3>
    <div id="drive-list"></div>
</div>

{% endblock %} {% block additional_scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const playContainer = document.getElementById('play-container');
        const fetchPlayBtn = document.getElementById('fetch-play-btn');
        const footballField = document.getElementById('football-field');

        if (!playContainer.dataset.currentPlayId) {
            fetchPlayBtn.textContent = 'Start Game';
            footballField.style.display = 'none';
        }

        fetchPlayBtn.addEventListener('click', function () {
            const currentPlayId = playContainer.dataset.currentPlayId || '';
            const gameId = playContainer.dataset.gameId;

            fetch(`{% url "fetch_play" %}?current_play_id=${currentPlayId}&game_id=${gameId}`)
                .then((response) => response.json())
                .then((response) => {
                    console.log(response);

                    if (response.status === 'finished') {
                        fetchPlayBtn.style.display = 'none';
                        footballField.style.display = 'none';

                        let content = `<table class="score-table">
                        <tr>
                            <td class="bold-text"><img src="{% static "" %}${response.teamA}.png" class="logo-medium" />${response.teamA}</td>
                            <td>Score: ${response.scoreA}</td>
                        </tr>
                        <tr>
                            <td class="bold-text"><img src="{% static "" %}${response.teamB}.png" class="logo-medium" />${response.teamB}</td>
                            <td>Score: ${response.scoreB}</td>
                        </tr>
                    </table>`;

                        const gameId = playContainer.dataset.gameId;
                        const gameSummaryLink = `<a href="/games/${gameId}/">Game Summary</a>`;

                        if (response.ot === 0) {
                            content += '<div class="center-text bold-text">Final</div>';
                        } else if (response.ot === 1) {
                            content += '<div class="center-text bold-text">Final (OT)</div>';
                        } else {
                            content += `<div class="center-text bold-text">Final (${response.ot}OT)</div>`;
                        }
                        content += `<div class="center-text">${gameSummaryLink}</div>`;
                        content += `<div class="center-text">Last Play: ${response.last_play_text || 'None'}</div>`;
                        playContainer.innerHTML = content;
                        return;
                    }

                    footballField.style.display = 'block';
                    fetchPlayBtn.textContent = 'Next Play';

                    const offenseIndicatorA = response.offense === response.teamA ? '<img src="{% static "football.png" %}" class="football-icon" />' : '';
                    const offenseIndicatorB = response.offense === response.teamB ? '<img src="{% static "football.png" %}" class="football-icon" />' : '';

                    let content = `<table class="score-table">
                    <tr>
                        <td class="bold-text"><img src="{% static "" %}${response.teamA}.png" class="logo-medium" />${response.teamA}</td>
                        <td>${offenseIndicatorA}</td>
                        <td>Score: ${response.scoreA}</td>
                    </tr>
                    <tr>
                        <td class="bold-text"><img src="{% static "" %}${response.teamB}.png" class="logo-medium" />${response.teamB}</td>
                        <td>${offenseIndicatorB}</td>
                        <td>Score: ${response.scoreB}</td>
                    </tr>
                </table>`;
                    content += `<div class="center-text bold-text">${response.current_play_header}</div>`;
                    content += `<div class="center-text">Last Play: ${response.last_play_text || 'None'}</div>`;

                    playContainer.innerHTML = content;
                    playContainer.dataset.currentPlayId = response.current_play_id;

                    updateFootballField(response);
                    updateDriveSummary(response);
                    updatePlayInfo(response);
                })
                .catch((error) => {
                    console.error('Error fetching play: ', error);
                });
        });

        function updatePlayInfo(data) {
            const content = playContainer.innerHTML;
            playContainer.innerHTML = `<div class="center-text bold-text">${data.drive_fraction} - ${data.current_play_header}</div>${content}`;
        }

        function updateDriveSummary(data) {
            const driveList = document.getElementById('drive-list');
            driveList.innerHTML = ''; // Clear existing drives

            data.completed_drives.forEach(function (drive) {
                const driveItem = document.createElement('div');
                driveItem.classList.add('drive-item');

                if (drive.points > 0) {
                    driveItem.classList.add('scoring-drive');
                    driveItem.style.backgroundColor = drive.offense_color;
                    driveItem.style.color = drive.offense_secondary_color;
                }

                const logoImg = document.createElement('img');
                logoImg.src = `{% static "" %}${drive.offense}.png`;
                driveItem.appendChild(logoImg);

                driveItem.appendChild(document.createTextNode(`Drive ${drive.driveNum}: ${drive.offense} - ${Math.abs(drive.yards)} yards, ${drive.result}, Score: ${drive.scoreA}-${drive.scoreB}`));

                driveList.appendChild(driveItem);
            });
        }

        function updateFootballField(data) {
            const ballPosition = data.ballPosition;
            const lineOfScrimmage = data.lineOfScrimmage;
            const firstDownLine = data.firstDownLine;
            const lastPlayYards = data.lastPlayYards;

            const playingField = document.getElementById('playing-field');
            const playingFieldWidth = playingField.offsetWidth;
            const pixelsPerYard = playingFieldWidth / 100;

            document.getElementById('ball').style.left = `${ballPosition * pixelsPerYard}px`;
            document.getElementById('line-of-scrimmage').style.left = `${lineOfScrimmage * pixelsPerYard}px`;
            document.getElementById('first-down-line').style.left = `${firstDownLine * pixelsPerYard}px`;

            document.getElementById('team-a-name').textContent = data.teamA;
            document.getElementById('team-b-name').textContent = data.teamB;

            document.getElementById('end-zone-a').style.backgroundColor = data.colorAPrimary;
            document.getElementById('end-zone-b').style.backgroundColor = data.colorBPrimary;

            document.getElementById('team-a-name').style.color = data.colorASecondary;
            document.getElementById('team-b-name').style.color = data.colorBSecondary;

            const arrowLength = Math.abs(lastPlayYards) * pixelsPerYard;
            let arrowPosition = lineOfScrimmage;

            if (data.offense === data.teamA) {
                if (lastPlayYards < 0) {
                    arrowPosition -= lastPlayYards;
                }
            } else {
                if (data.lastPlayYards > 0) {
                    arrowPosition += lastPlayYards;
                }
            }

            const playingFieldHeight = playingField.offsetHeight;
            const yardArrow = document.getElementById('yard-arrow');
            yardArrow.style.left = `${arrowPosition * pixelsPerYard}px`;
            yardArrow.style.width = `${arrowLength}px`;
            yardArrow.style.top = `${playingFieldHeight / 4}px`;
        }
    });
</script>
{% endblock %}
