{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{% static 'football.png' %}" type="image/png" />
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        {% block css %} {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <img id="teamlogo" src="{% static info.team.name %}.png" />
                </li>
                {% if info.stage == 'season' %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Team</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/teams/{{info.team.name}}/schedule">Schedule</a>
                        <a class="dropdown-item" href="/teams/{{info.team.name}}/roster">Roster</a>
                        {% comment %} <a class="dropdown-item" href="/teams/{{info.team.name}}/stats">Stats</a> {% endcomment %}
                        <a class="dropdown-item" href="/teams/{{info.team.name}}/history">History</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conference Standings</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for conference in conferences %}
                        <a class="dropdown-item" href="/rankings/{{conference.confName}}">{{conference.confName}}</a>
                        {% endfor %}
                        <a class="dropdown-item" href="/rankings/independent">Independent</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rankings">Rankings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stats</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/stats/team">team</a>
                        <a class="dropdown-item" href="/stats/individual">individual</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Schedule</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for week in weeks %}
                        <a class="dropdown-item" href="/schedule/{{ week }}">Week {{ week }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedule/playoff">Playoff</a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if info.stage == 'season' %}
                <li class="nav-item">
                    <a class="nav-link">{{info.currentYear}} (Week {{info.currentWeek}})</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/sim?live=true">Sim (Live)</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ml-1" href="/sim">Sim</a>
                </li>
                {% elif info.stage == 'schedule non conference' %}
                <li class="nav-item">
                    <a class="nav-link">{{info.currentYear}} (Preseason)</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link">{{info.currentYear}} (Offseason)</a>
                </li>
                {% endif %} {% if info.stage == 'end of season' %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="/season_summary">Season summary</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ml-1" href="/roster_progression">Roster progression</a>
                </li>
                {% elif info.stage == 'roster progression' %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="/roster_progression">Roster progression</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ml-1" href="/noncon">Schedule nonconference</a>
                </li>
                {% elif info.stage == 'schedule non conference' %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="/noncon">Schedule nonconference</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ml-1" href="/dashboard">Start season</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn btn-danger ml-1" href="/">Main Menu</a>
                </li>
            </ul>
        </nav>

        <main>{% block content %} {% endblock %}</main>

        <footer class="bg-light py-4 mt-5">
            <div class="container">
                <div class="d-flex justify-content-center mb-3">
                    <a href="https://github.com/rdettling/cfbsim" class="mx-3" target="_blank">
                        <img src="{% static 'github.png' %}" alt="GitHub" width="30" />
                    </a>
                    <a href="https://www.linkedin.com/in/ryandettling" class="mx-3" target="_blank">
                        <img src="{% static 'linkedin.png' %}" alt="LinkedIn" width="30" />
                    </a>
                </div>
                <p class="text-center mb-0">Built by Ryan Dettling</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>

        {% block additional_scripts %} {% endblock %}
    </body>
</html>
