{% extends 'base.html' %} {% load static %} {% block title %}Individual Stats{% endblock %} {% block content %}
<div class="container">
    <h2>Choose a Stat Category:</h2>
    <div class="btn-group">
        <a href="{% url 'individual' category='passing' %}" class="btn btn-primary">Passing</a>
        <a href="{% url 'individual' category='rushing' %}" class="btn btn-primary">Rushing</a>
        <a href="{% url 'individual' category='receiving' %}" class="btn btn-primary">Receiving</a>
    </div>
</div>
{% endblock %}
