{% extends 'base.html' %} {% load static %} {% block title %}Week {{week_num}} schedule{% endblock %} {% block content %}

<div class="row">
    {% for game in games %}
    <div class="col-3">
        <div class="card mb-3">
            <div class="card-header p-2 d-flex justify-content-between align-items-center">
                <strong>{{ game.label }}</strong>
                {% if game.game_of_week %}
                <span class="badge badge-info">Game of the week</span>
                {% endif %}
            </div>
            <div class="card-body pb-2">
                <!-- First row: Team A Name and Score -->
                <div class="row mb-2">
                    <div class="col-2 p-0 center ml-2 mr-3">
                        <img class="logo-small" src="{% static game.teamA.name %}.png" />
                    </div>
                    <div class="col p-0">
                        {% if game.rankATOG < 26 %}
                        <a href="/teams/{{game.teamA.name}}/schedule">#{{game.rankATOG}} {{game.teamA.name}}</a>
                        {% else %}
                        <a href="/teams/{{game.teamA.name}}/schedule">{{game.teamA.name}}</a>
                        {% endif %}
                    </div>
                    <div class="col-2 p-0 center">{% if game.winner %} {{ game.scoreA }} {% else %} {{ game.spreadA }} {% endif %}</div>
                </div>
                <!-- Second row: Team B Name and Score -->
                <div class="row mb-2">
                    <div class="col-2 p-0 center ml-2 mr-3">
                        <img class="logo-small" src="{% static game.teamB.name %}.png" />
                    </div>
                    <div class="col p-0">
                        {% if game.rankBTOG < 26 %}
                        <a href="/teams/{{game.teamB.name}}/schedule">#{{game.rankBTOG}} {{game.teamB.name}}</a>
                        {% else %}
                        <a href="/teams/{{game.teamB.name}}/schedule">{{game.teamB.name}}</a>
                        {% endif %}
                    </div>
                    <div class="col-2 p-0 center">{% if game.winner %} {{ game.scoreB }} {% else %} {{ game.spreadB }} {% endif %}</div>
                </div>
                <!-- Third row: Game Over text -->
                <div class="row center">
                    {% if game.winner %}
                    <a href="/games/{{game.id}}">Summary</a>
                    {% else %}
                    <a href="/games/{{game.id}}">Preview</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
</div>
<div class="row">{% endif %} {% endfor %}</div>

{% endblock %}
